<table class="table">
  <thead>
    <tr>
      <th>Repair Order</th>
      <th>Year</th>
      <th>Model</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repair_orders.each do |repair_order| %>
      <tr>
        <td><%= link_to repair_order.ro_number, repair_order %></td>
        <td><%= repair_order.year %></td>
        <td><%= repair_order.model %></td>
        
        <td><%= link_to 'Edit', edit_repair_order_path(repair_order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>