<h2>Repair Order #<%= @repair_order.ro_number %></h2>

<p>
  <strong>Recommendations:</strong>
  <%= @repair_order.recommendations %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @repair_order.maintenance %>
</p>

<%= link_to 'Edit', edit_repair_order_path(@repair_order) %>
